@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de livros</h1>
    <p class="lead">Este projeto básico usando MVC 5, bootstrap 3, jquery 1.10 e consumindo Web Api 2.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CRUD Autor</h2>
    </div>
    <div class="col-md-4">
        <h2>CRUD Editora</h2>        
    </div>
    <div class="col-md-4">
        <h2>CRUD Livro</h2>        
    </div>
</div>